<ion-header [translucent]>
    <ion-toolbar>
        <ion-title>Realizar Compras</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content auto-hide="false" *ngFor="let n of negocio | async; let i = index">

    <div auto-hide="false" *ngFor="let p of pedidoBueno | async; let i = index">
        <ion-item>
            <ion-label>
                <h2>Estado:</h2> {{p.estado}}
                <h2>Precio:</h2> {{p.precioTotal}} $
            </ion-label>

        </ion-item>
        <app-mapa latEmp={{p.latEmp}} lonEmp={{p.lonEmp}} latDes={{p.latDes}} lonDes={{p.lonDes}}></app-mapa>

        <ion-list auto-hide="false" *ngFor="let pd of pedidoDetalle | async; let i = index">


            <ion-item (click)="actualizarCheck(pd)">
                <ion-label>
                    <h2>Producto:</h2> {{pd.producto}}
                    <h2>Precio:</h2> {{pd.precio}} $
                    <h2>Cantidad:</h2> {{pd.cantidad}}
                    <h2>Estado:</h2> {{pd.estadoCompra}}
                </ion-label>
                <ion-checkbox color="primary" [(ngModel)]="pd.booleanCompra" lot="end"></ion-checkbox>
            </ion-item>

            <ion-item id="totales">
                <ion-label>Total: {{pd.precioTotal}}$</ion-label>
            </ion-item>
        </ion-list>


        <ion-button expand="block" (click)="cambioEstado(p)">Cambiar Estado del Pedido</ion-button>
        <ion-button expand="block" (click)="chat()">Ir a Chat</ion-button>

    </div>

</ion-content>