ion-header {
    ion-toolbar {
        --background: #4169e1;
        --color: #ffffff;
    }
}

h2 {
    color: #4169e1;
}

#totales {
    --background: #4169e1;
    --color: #ffffff;
}

ion-col {
    text-align: center;
    color: #4169e1;
}

ion-card-subtitle {
    color: #4169e1;
}