<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button (click)="regresar()"></ion-back-button>
      </ion-buttons>

      <ion-title> Info. Cuenta </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label> Nombre: </ion-label>
    <h3> {{ nom }} </h3>
  </ion-item>
  <ion-item>
    <ion-label> Dirección: </ion-label>
    <h3> {{ dir }} </h3>
  </ion-item>
  <ion-item>
    <ion-label> Correo: </ion-label>
    <h3> {{ corr }} </h3>
  </ion-item>

</ion-content>
