<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Detalle Pedido</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <h2>Fecha:</h2>
    <h3>{{pedido.fecha}}</h3>
    <h2>Precio:</h2>
    <h3>{{pedido.precioTotal}}</h3>
    <h2>Negocio:</h2>
    <h3>{{negocio.nombre}}</h3>

    <ion-item auto-hide="false" *ngFor="let n of negocio | async; let i = index">
        <h3>{{n.nombre}}</h3>
    </ion-item>


    <div *ngFor="let p of pedidoDetalle">
        <ion-item>
            <ion-label>
                <h2>Producto: {{p.producto}}</h2>
                <h2>Precio: {{p.precio}}</h2>
                <h2>Cantidad: {{p.cantidad}}</h2>
            </ion-label>
            <p slot="end" color="primary">{{p.precioTotal}}</p>
        </ion-item>
    </div>

    <ion-button expand="block" (click)="pedir()">Finalizar Pedido</ion-button>

</ion-content>