<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button (click)="regresar()"></ion-menu-button>
        </ion-buttons>
        <ion-title>Empleado Chat</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div auto-hide="false" *ngFor="let c of chat | async; let i = index">
        <ion-item-divider>
            <p>{{c.id}}</p>
        </ion-item-divider>

        <ion-item-divider *ngFor="let p of c.mensajes">
            <ion-card>
                <ion-card-header>{{p.enviado}} dice:</ion-card-header>
                <ion-card-content>{{p.mensaje}}</ion-card-content>
            </ion-card>
        </ion-item-divider>

        <ion-input type="text" name="Escribir mensaje" [(ngModel)]="mensaje" placeholder="Escribir mensaje" required></ion-input>
        <ion-button expand="block" (click)="nuevoMensaje(c)">Enviar Mensaje</ion-button>

    </div>

</ion-content>