<ion-header [translucent]>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button (click)="regresar()" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Productos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item auto-hide="false" *ngFor="let p of productos | async; let i = index">
        <ion-avatar slot="start">
            <img [src]="p.imagen">
        </ion-avatar>
        <ion-label>
            <h1>{{p.nombre}}</h1>
            <h2>{{p.precio}}</h2>
        </ion-label>
        <ion-button slot="end" (click)="menos(p)">
            <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
        </ion-button>

        <p slot="end" color="primary">{{p.cantidad}}</p>

        <ion-button slot="end" (click)="mas(p)">
            <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
    </ion-item>

    <ion-button expand="block" (click)="confirmar()">Confirmar</ion-button>

</ion-content>