ion-content {
    --background: #4169e1;
}

ion-item {
    --background: #4169e1;
    --color: #fff;
}

p {
    text-align: center;
    color: #fff;
}

div {
    text-align: center;
}

.error {
    font-size: large;
    color: rgb(255, 0, 0);
}