<ion-content>

    <div>
        <img src="/assets/icon/Super_Compras.png" alt="SuperCompras" width="350">
    </div>

    <ion-item>
        <ion-label> <b>Correo:</b> </ion-label>
        <ion-input type="text" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label> <b>Contraseña:</b></ion-label>
        <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>

    <ion-item lines="none"></ion-item>

    <ion-label>
        <p class="error"><b> {{ alerta }} </b></p>
    </ion-label>

    <div>
        <ion-button color="light" size="default" (click)="logeo()"> Ingresar </ion-button>
    </div>

    <div>
        <ion-button size="large" color="dark" (click)="googleLogin()">
            <ion-icon name="logo-google"></ion-icon> Google
        </ion-button>
    </div>

    <div>
        <p>No tienes cuenta?, registrate ahora:</p>
        <ion-button color="light" size="small" (click)="pagRegistro()"> Registrarse </ion-button>
    </div>

</ion-content>