<ion-header [translucent]>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>{{negocio.nombre}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>

        <img [src]="negocio.imagen" [alt]="negocio.nombre" />

        <agm-map [latitude]="negocio.latitud" [longitude]="negocio.longitud" [zoom]="zoom">
            <agm-marker [latitude]="negocio.latitud" [longitude]="negocio.longitud" iconUrl="https://cdn1.iconfinder.com/data/icons/Map-Markers-Icons-Demo-PNG/48/Map-Marker-Marker-Outside-Chartreuse.png"></agm-marker>
        </agm-map>

        <ion-card-header>
            <ion-card-subtitle><b>Direccion</b></ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>{{negocio.ubicacion}}</ion-card-content>

    </ion-card>

</ion-content>

<ion-footer>
    <ion-button expand="block" (click)="pedir()">Pedir aqui</ion-button>
</ion-footer>