<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Empleado Pedido</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item auto-hide="false" *ngFor="let n of negocio | async; let i = index">

        <ion-card>
            <h1>Cliente: {{pedido.nombreCliente}}</h1>
            <h2>Negocio</h2>
            <p>{{n.nombre}}</p>
            <p>{{negocio.ubicacion}}</p>
            <img [src]="n.imagen" [alt]="n.nombre" />

            <h2>Precio: {{pedido.precioTotal}}</h2>

            <h2>Productos</h2>

            <ion-item auto-hide="false" *ngFor="let p of pedidoDetalle | async; let i = index">
                <ion-label>
                    <h2>Producto: {{p.producto}}</h2>
                    <h2>Precio: {{p.precio}}</h2>
                    <h2>Cantidad: {{p.cantidad}}</h2>
                </ion-label>
                <p slot="end" color="primary">{{p.precioTotal}}</p>
            </ion-item>

        </ion-card>
    </ion-item>

    <ion-button expand="block" (click)="confirmar()">Pedir aqui</ion-button>

</ion-content>